<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="#" />
</head>

<body id="{% block body_id %}{% endblock %}">
{% block header %}

{% endblock %}

{% block body %}
<h1>I Love You So</h1>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>